.intro {
  padding-top: 6rem;
  display: grid;
  /* overflow-x: hidden; */
  /* background: url('../../assets/w5.svg') no-repeat fixed right bottom; */
  /* grid-row-gap: 15px; */
}

.intro .desk {
  width: 100%;
}

.profile-card {
  color: var(--heading-color);
}
.profile-card h2 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1em;
  line-height: 1.2;
  /* text-align: center; */
  color: var(--heading-color);
}

.about__img {
  width: 100%;
}
.about__img img {
  padding-top: 20px;
  width: 100%;
}
.about__section {
  padding: 0em 3em 3em 3em;
  color: var(--heading-color);
}
.about__section h1 > span {
  background-color: #00e6cb;
}

.about__section p {
  line-height: 2rem;
  font-size: var(--font-size-04);
  color: var(--text-color);
}
.ques {
  padding: 0em 2em 1em 2em;
  color: var(--heading-color);
}

.box-shadow-orange {
  box-shadow: 2px 2px 10px 5px #ff9642;
}

.box-shadow-green {
  box-shadow: 2px 2px 10px 5px #00e6cb;
}

.border-bottom-blue {
  border-bottom: 6px solid #00e6cb;
}

.theme-dark .svg-icon-container .blob.blob2 {
  opacity: 0.3 !important;
}
.svg-icon-container {
  position: absolute;
  /* left: 7%;
  width: 1200px;
  height: 500px; */
  /* background: black; */
}

.svg-icon-container img {
  position: absolute;
  z-index: -1;
}
.svg-icon-container img.blob1 {
  left: -211px;
  top: 370px;
  width: 400px;
  height: 400px;
}

.svg-icon-container img.yellowface {
  /* left: 250px;
  top: 0px;
  width: 150px;
  height: 150px;
  transform: rotate(-18deg); */
}

.svg-icon-container img.blob2 {
  left: 140px;
  top: 80rem;
  width: 400px;
  height: 400px;
}
.svg-icon-container img.blob3 {
  left: 300px;
  top: -150px;
  width: 200px;
  height: 200px;
}
.svg-icon-container img.blob4 {
  /* right: 0px;
  top: 300px;
  width: 400px;
  height: 400px; */
}

@media only screen and (min-width: 768px) {
  .intro {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-template-rows: 40% 50% 8%;
    justify-content: space-around;
    padding-top: 0rem;
  }

  .intro .desk {
    width: 45vw;
    /* align-self: end; */
  }
  .profile-card {
    width: 45rem;
    position: relative;
    left: 5rem;
    top: 21rem;
    order: -1;
  }
  .profile-card h2 {
    display: inline;
    font-weight: 700;
    font-size: 5rem;
    color: var(--heading-color);
    padding: 0;
  }
  .profile-card h2 div {
    visibility: hidden;
  }
  .profile-card p {
    font-size: 3rem;
  }
  .about__img {
    width: 45vw;
  }
  .about__img img {
    width: 100%;
  }
  .about__section {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__section p > span {
    display: block;
  }
  .intro h1 {
    width: 30rem;
    justify-self: center;
  }
  .ques {
    padding: 0;
  }

  .svg-icon-container {
    /* position: absolute; */
    left: 7%;
    width: 1200px;
    height: 500px;
    /* background: black; */
  }

  .svg-icon-container img.blob1 {
    left: -500px;
    top: -50px;
    width: 800px;
    height: 800px;
  }

  .svg-icon-container img.yellowface {
    left: 250px;
    top: 0px;
    width: 150px;
    height: 150px;
    transform: rotate(-18deg);
  }

  .svg-icon-container img.blob2 {
    /* left: 250px;
    top: 0px;
    width: 150px;
    height: 150px; */
    right: -201px;
    bottom: -748px;
    width: 500px;
    height: 500px;
    z-index: -2;
  }
  .svg-icon-container img.blob3 {
    left: 500px;
    top: 120px;
    width: 200px;
    height: 200px;
  }
  .svg-icon-container img.blob4 {
    right: 0px;
    top: 300px;
    width: 400px;
    height: 400px;
  }
}
