.btn__generic {
    width: 14rem;
    height: 4rem;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 1em;
    background-color: var(--btn-primary);
}