.btn__generic {
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding: 1em 2em;
  border-bottom-right-radius: var(--border-radius-01);
  border-top-left-radius: var(--border-radius-01);
  border: none;
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
}

.btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  vertical-align: sub;
}
