.input-text,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  font-size: large;
  font-family: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}
