.App {
  position: relative;
}

.color-white {
  color: #fff8cd;
}

.background-orange {
  background-color: var(--root-background);
}

.switch {
  position: absolute; 
  top: 3%;
  left: 15%;
  z-index: 1000;
}

.bottom-color-brown {
  border-bottom: 2px solid #ac4b1c !important;
}


@media only screen and (min-width: 768px) {
    /* .switch {
      top: 50%;
      left: 10%;
    } */
}