.App {
  position: relative;
  min-height: 100vh;
}

.color-white {
  color: #fff8cd;
}

.background-orange {
  background-color: var(--root-background);
}

.switch {
  position: absolute;
  top: 3rem;
  left: 4rem;
  z-index: 1000;
}

.bottom-color-brown {
  border-bottom: 2px solid #ac4b1c !important;
}

@media only screen and (min-width: 768px) {
  .switch {
    left: 7rem;
  }
}
