.hamburger {
    /* font-size: 35px; */
    color:red;
    position: fixed;
    right: 20px;
    top: .5rem;
    width: 3rem;
    z-index: 101;
    transition: all 2s ease-in-out;
} 

.height--0 {
    height:0px;
    display: inline-block;
    overflow: hidden;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 59px;
    align-items: center;
    background-color: rebeccapurple;
    transition: all 1s;
    clip-path: circle(0% at 93% 1%);
}

.isOpen {
    clip-path: circle(100%);
    overflow: hidden;
    top: 0;
    bottom: 0;
    z-index: 100;
}
.navbar__links a {
    text-decoration: none;
    color: white;
}
.navbar__links span {
    list-style-type: none;
    padding: 2rem;
}

.navbar__links span:nth-child(1) {
    padding-top: 2em;
}



@media only screen and (min-width: 768px) {
    .hamburger {
        display: none
    }

    .navbar__links {
        background-color: #000;
        flex-direction: row;
        justify-content: flex-end;
        height: auto;
        width: auto;
        cursor: pointer;
        clip-path: circle(100%);
        padding-right: 3em;
        top: 0;
        position: relative;
    }

    .navbar__links span {
        font-size: large;
        padding: 0.9em; 
        position: relative;
    }
    .navbar__links span:before{
        content: "";
        position: absolute;
        bottom: 8px;
        width: 0%;
        height: 2px;
        left: 50%;
        background-color: deeppink;
        transform: rotateY(90deg);
        transition: all 0.3s ease-in-out 0s;    
    }
    .navbar__links span:hover:before {
        width: calc(100% - 1.8em);
        left: 18%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
        transform: rotateY(0deg);
    }

    .navbar__links span:nth-child(1) {
        padding-top: 0.9em;
    }
}