body:not(".theme-dark") {
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
}
.navbar {
  --nav-background: var(--navy);
}

.hamburger {
  /* font-size: 35px; */
  color: red;
  position: fixed;
  right: 20px;
  top: 0.5rem;
  width: 3rem;
  z-index: 101;
  transition: all 2s ease-in-out;
}

.height--0 {
  height: 0px;
  display: inline-block;
  overflow: hidden;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  height: 70vh;
  border-bottom-left-radius: 30%;
  width: 100%;
  position: fixed;
  font-size: 2.8rem;
  align-items: flex-end;

  color: var(--text-color-invert);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  clip-path: circle(0% at 93% 1%);
  z-index: 100;
  padding: 0.5rem;
}

.isOpen {
  clip-path: circle(100%);
  overflow: hidden;
  top: 0;
  bottom: 0;
}
.navbar__links a {
  text-decoration: none;
  color: gray;
}

.navbar__links span {
  list-style-type: none;
  padding: 1.5rem;
  background: linear-gradient(45deg, #e6e6e6, #ffffff);
  box-shadow: 5px -5px 10px #d9d9d9, -5px 5px 10px #ffffff;
}

.navbar__links span:nth-child(1) {
  padding-top: 2em;
}

@media only screen and (min-width: 768px) {
  .navbar {
    --nav-background: var(--navy);
  }

  .theme-dark .navbar {
    --nav-background: var(--egg-blue);
  }

  .hamburger {
    display: none;
  }

  .navbar__links {
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    width: auto;
    cursor: pointer;
    clip-path: circle(100%);
    padding-right: 3em;
    top: 0;
    position: relative;
  }

  .navbar__links span {
    font-size: large;
    padding: 0.9em;
    position: relative;

    margin-left: 20px;
    border-radius: 50px;
  }

  .theme-dark .navbar__links span {
    background: #000;
    box-shadow: 5px -5px 10px #161616, -5px 5px 10px #1e1e1e;
  }

  .navbar__links span:before {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 0%;
    height: 2px;
    left: 50%;
    background-color: var(--light-text);
    transform: rotateY(90deg);
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar__links span:hover:before {
    width: calc(100% - 1.8em);
    left: 18%;
    transform: rotateY(0deg);
  }

  .navbar__links span:nth-child(1) {
    padding-top: 0.9em;
  }
}
