.repo__card {
  --repo-background: var(--background-color);
  --repo-color: #ffefa0;
  --repo-span-language-color: var(--green-yellow);
  --repo-text-prototype: blue;
  --repo-text-shadow: black;
}

.theme-dark .repo__card {
  --repo-background: var(--background-color);
  --repo-color: var(--text-color);
  --repo-span-language-color: red;
  --repo-text-prototype: blue;
  --repo-text-shadow: white;
}

.repo__card {
  background-color: var(--repo-background);
  width: 360px;
  border-radius: 5px;
  align-self: center;
  padding-left: 20px;
  margin: 10px;
  text-align: left;
  transition: transform 0.1s ease;
  color: var(--repo-color);
  /* background: linear-gradient(90deg, rgba(29,29,29,1) 2%, rgba(173,173,176,1) 95%); */
  /* background: linear-gradient(90deg, rgba(15,13,60,1) 6%, rgba(206,206,233,1) 96%); */
}

.repo__card:hover {
  transform: rotate(-7deg);
  /* background-color: var(--repo-background-hover); */
  /* box-shadow: 1px 1px 5px; */
}

.section-footer {
  padding: 7px 7px 7px 0;
}

span.language {
  margin-left: 5px;
  color: var(--repo-span-language-color);
  text-shadow: 1px 1px var(--black);
}

strong.prototype {
  cursor: pointer;
  float: right;
  color: var(--repo-text-prototype);
  text-shadow: 2px 2px var(--repo-text-shadow);
}

div.desc {
  /* text-shadow: 0.5px 0.5px rgb(141, 141, 141) */
}

@media only screen and (min-width: 768px) {
  /* .repo__card {
    --repo-background: var(--orange);
  } */
}
