.repo__card { 
    background-color: #ff9642;
    width: 360px;
    border-radius: 5px;
    align-self: center;
    padding-left: 20px;
    margin: 10px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    color:#ac4b1c;
    /* background: linear-gradient(90deg, rgba(29,29,29,1) 2%, rgba(173,173,176,1) 95%); */
    /* background: linear-gradient(90deg, rgba(15,13,60,1) 6%, rgba(206,206,233,1) 96%); */
}

.repo__card:hover {
    transform: scale(1.1);
    /* box-shadow: 1px 1px 5px; */
}

.section-footer {
    padding: 7px 7px 7px 0;
}

span.language {
    margin-left: 5px;
    color: greenyellow;
    text-shadow: 1px 1px black;
}

strong.prototype {
    cursor: pointer;
    float: right;
    color: navy;
    text-shadow: 2px 2px deepskyblue;
}

div.desc {
    text-shadow: 0.5px 0.5px darkgray
}