@import url("./styles/_keyframes.css");
@import url("./styles/_utility.css");

@font-face {
  font-family: "Jost";
  src: url("../src/assets/reg.woff") format("woff2"),
    url("../src/assets/reg.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

/*
* CSS VARIABLES
*/
:root {
  --root-background: #ffffff;
  --btn-primary: #000000;

  --brown: #ac4b1c;
  --orange: #ff9642;
  --light-text: #ffffff;
  --green-yellow: greenyellow;
  --navy: navy;
  --black: black;
  --purple: #6a097d;
  --navbar: #000000;

  --heading-color: var(--gray-01);
  --text-color: var(--gray-02);

  --gray-00: #000000;
  --gray-01: #1c1c1c;
  --gray-02: #303030;
  --gray-03: #474747;
  --gray-04: #5d5d5d;
  --gray-05: #757575;
  --gray-06: #8c8c8c;
  --gray-07: #a3a3a3;
  --gray-08: #bababa;
  --gray-09: #d1d1d1;
  --gray-10: #e8e8e8;
  --gray-11: #ffffff;

  /* //Font Family */
  --font-family-01: Jost, sans-serif;

  /* //Font Size */
  --font-size-01: 3.5rem;
  --font-size-02: 2.5rem;
  --font-size-03: 1.2rem;

  /* //Line Height */
  --line-height-01: 1;
  --line-height-02: 1.5;

  /* //Font Weight */
  --font-weight-01: normal;
  --font-weight-02: medium;
  --font-weight-03: bold;

  /*Spacing*/
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;

  /* //Brand Colors */
  --color-primary: var(--gray-00);
  --color-secundary: var(--gray-11);

  --color-text-primary: var(--gray-00);
  /* --color-text-secondary: ;
  --color-text-placeholder: ; */
  --color-text-muted: ; /*light color*/
  --color-text-icon-default: ;
  --color-text-icon-default-disabled: #dddbda;
  --color-text-button-default-disabled: #dddbda;
  --color-text-error: #ea001e;
  --color-text-required: #ea001e;
  --color-text-success: #2e844a;

  /* //Media Query */
  --media-query-01: 576px;
  --media-query-02: 768px;
  --media-query-03: 992px;
  --media-query-04: 1200px;

  /* //Box Shadow */
  --box-shadow-01: 4px 0 8px 0 rgba(0, 0, 0, 0.16);
  --box-shadow-02: 8px 0 16px 0 rgba(0, 0, 0, 0.16);
  --box-shadow-03: 16px 0 24px 0 rgba(0, 0, 0, 0.16);

  /* //Border Width */
  --border-01: 1px;
  --border-02: 2px;
  --border-03: 4px;

  /* //Border Radius */
  --border-radius-01: 30px;

  /* //Icon Size */
  --icon-size-01: 16px;
  --icon-size-02: 24px;
  --icon-size-03: 46px;

  /* //Opacity */
  --opacity-01: 0.1;
  --opacity-02: 0.4;
  --opacity-03: 0.6;
  --opacity-04: 0.8;
}

.theme-dark {
  --root-background: black;
  --heading-color: #ffffff;
  --text-color: var(--gray-09);
}

body {
  margin: 0;
  background-color: white;
  cursor: default;
  box-sizing: border-box;
  font-family: "Jost", Fallback, sans-serif;
  -webkit-font-smoothing: antialia<link rel= "stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >sed;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--root-background);
  color: var(--light-text);
  /* background-size: 100% 80%; */
}

h1,
h2 {
  font-size: 2.5rem;
  line-height: var(--line-height-01);
}

img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: var(--font-size-02);
  }
  p {
    font-size: 1.3rem;
  }
}

@keyframes fadeTop {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
