
.landing-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url("../../assets/profile.svg");
    background-repeat: no-repeat;
    color: black;
    background-position: top right;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.hello, .name, .profession-text {
    padding-left: 100px;
}

.hello {
    line-height: 50px;
    color: mediumpurple;
}

.name {
    font-size: 7em;
    color: #282833;
    letter-spacing: 3px;
    margin-top: 0px;
}

.profession-text {
    margin-top: -72px;
    color: #c1863f;
}

.about-me-text-container {
    width: 316px;
    background-color: #f2f0f0;
    margin: 43px 453px;
    padding: 26px;
    border-top-left-radius: 83px;
    font-size: 0.9em;
    line-height: 1.576;
    color: #8e3e66;
}
span.about--me {
    text-align: left;
    color: blue;
    display: block;
}
.repoBtn {
    transform: translate(100px,-165px);
    padding: 20px;
    width: 190px;
    animation: shadow-pulse 1s infinite;
}


.btn {
    background-color: yellow;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    font-family: inherit;
    letter-spacing: 0.1em;
}

.repoBtn:hover span{
    display: none;
}
.repoBtn:hover:before {
    content: 'Lets go --->';
}

/* .shake {
    animation: 1s shadow-pulse infinite;
  }  */

@media only screen and (max-width: 768px) {
    .landing-page {
        background-position: -21px;
        background-size: 187%;
    }

    .hello, .name, .profession-text {
        padding-left: 35px;
    }

    .name {
        font-size: 5em;
    }
    .about-me-text-container {
        max-width: 61%;
        margin: 136px 35px;
        line-height: 1.3;
        padding: 22px;
    }
    .profession-text {
        margin-top: -40px;
    }

    .repoBtn {
        transform: translate(0, -60px);
    }

    .repoBtnBlock {
        text-align: center;
        padding-bottom: 20px;
    }
}